---
---

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  
  @media (min-width: 38em) {
    font-size: 20px;
  }
}

body {
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

$blogColor: #8296F1;
$workColor: #F25B4C;
$aboutColor: #FCC555;

@mixin linkAndHover($color){
  color: $color;
  -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
          transition: all .2s ease;
  &:hover,
  &:focus {
    color: darken($color, 25%);
  }
}
.about.current{
  color: #FCC555 !important;
  border-bottom-color: #FCC555 !important;
}

.blog.current{
  color: $blogColor !important;
  border-bottom-color: $blogColor !important;
}

.work.current{
  color: $workColor !important;
  border-bottom-color: $workColor !important;
}

.masthead-title--small a.about{
  @include linkAndHover($aboutColor);
}

.blog-content a, .masthead-title--small a.blog, .masthead-title--small a.games{
  @include linkAndHover($blogColor);
}

.work-content a, .masthead-title--small a.work{
  @include linkAndHover($workColor);
}

a {
		font-weight: 600;
  color: #268bd2;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 600;
  line-height: 1.1;
  color: #333;
  letter-spacing: -.025rem;
}

h1 {
  font-size: 2rem;
}

h1.page-title{
  margin-bottom: 0.1rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.3rem;
}

h4, h5, h6 {
  font-size: 1rem;
}

p {
  margin: 0 0 1rem;
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

ul {
  list-style: inside circle;
  padding-left: 0;
  
  li {
    margin-bottom: .25rem;
  }
  
  ul,
  ol {
    margin-top: .25rem;
    margin-bottom: .5rem;
  }
}

ol {
  list-style: inside decimal;
  padding-left: 0;
  
  li {
    margin-bottom: .25rem;
  }
  
  ul,
  ol {
    margin-top: .25rem;
    margin-bottom: .5rem;
  }
}

p + h1,
p + h2,
p + h3,
ul + h1,
ul + h2,
ul + h3,
ol + h1,
ol + h2,
ol + h3 {
  margin-top: 1.5rem;
}

hr {
  border: 0;
  border-top: .5px solid #eee;
  border-bottom: .5px solid #eee;
  margin: 1.5rem auto;
}

strong {
  color: #333;
  font-weight: 600;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

blockquote {
  padding: 0 0 0 1.5rem;
  margin: 0 2rem 1rem 0;
  color: #999;
  border-left: .5rem solid #e5e5e5;
  
  p:last-child {
    margin-bottom: 0;
  }
}

code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  overflow: auto;
  word-break: break-all;
  background-color: #f9f9f9;
  color: #e7eef4;
  background-color: #343642;
  border-radius: 5px;
}

pre code {
  padding: 0;
  font-size: 100%;
  font-size: 0.8em;
  color: inherit;
  background-color: transparent;
}

.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}

.highlight pre {
  margin-bottom: 0;
}

.gist .gist-file {
  font-family: Menlo, Monaco, "Courier New", monospace !important;
}

.gist .markdown-body {
  padding: 15px;
}

.gist pre {
  padding: 0;
  background-color: transparent;
}

.gist .gist-file .gist-data {
  font-size: .8rem !important;
  line-height: 1.4;
}

.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}
a img{
display: inline-block;
  margin: 0.5rem;
}
img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

img.inlineImg {
	margin: 0px;
	display: inline-block !important;
  border-radius: 0px;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.lead {
  font-size: 1.25rem;
}

.container {
  max-width: 38rem;
  padding: 2rem 1.5rem;
  margin-left:  auto;
  margin-right: auto;
  
  @media (min-width: 38rem){
    padding: 5rem 1rem;
  }
}

.masthead {

  &-title {
    font-weight: 300;
    
    a {
      color: #333;
      
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
    
    span {
      color: #666;
    }
    
  }
  
  &-title--small {
    margin-bottom: .75rem;
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;
    
    a {
      color: #333;
      
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
  
  .masthead-nav {
    margin-bottom: 2rem;
    
    a {
      color: #aaa;
      font-weight: 300;
      text-transform: lowercase;
	  padding-bottom: 5px;
      -webkit-transition: all .2s ease;
         -moz-transition: all .2s ease;
              transition: all .2s ease;

      &:hover,
      &:focus {
        color: #333;
        text-decoration: none;
      }

      margin-right: .5rem;
	  &.current{
	    font-weight: bold;
		border-bottom: 3px solid #66f;
	  }
    }
  }

}

.page {
  &-title {
    margin-bottom: 2rem;
  }
}

.post {
  &-title {
    margin-bottom: .25rem;
  }
  &-date {
    margin-bottom: 2rem;
    font-size: .75rem;
    text-transform: uppercase;
  }
}

.list {
  &-post-title {
    margin-bottom: .25rem;
    
    a {
      color: #333;
      
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
  &-post-date {
    margin-bottom: 1rem;
    font-size: .75rem;
    text-transform: uppercase;
  }
}

.projects-list {
  a {
    color: #333;
  }
}


.social{
	position : absolute;
	right: 50px;
    top: 00px;
    height : 40px;
	margin-top: 30px;
	a svg{
  		fill: currentColor;
		width: 20px;
		height: 20px;
		margin-left: 7px;
		color: #aaa;
      -webkit-transition: all .2s ease;
         -moz-transition: all .2s ease;
              transition: all .2s ease;
	}
	a:hover svg{
		color: #333 !important;
	}
  	@media (min-width: 38rem){
	  margin-top: 50px;
    }
	
}



#topbit{
    display: block;
    position: fixed;
    background-attachment: fixed;
	background-position: center top;
	z-index: 10000000000000;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 10px;
}
.topbit-blog, .topbit-games{
	background-color: $blogColor;
}
.topbit-work{
	background-color: $workColor;
}
.topbit-about{
	background-color: $aboutColor;
}


.highlight .hll{background-color:#515151}.highlight{color:#ccc}.highlight .c{color:#777}.highlight .err{color:#f2777a}.highlight .k{color:#c9c}.highlight .l{color:#f99157}.highlight .n{color:#ccc}.highlight .o{color:#6cc}.highlight .p{color:#ccc}.highlight .c1,.highlight .cm,.highlight .cp,.highlight .cs{color:#777}.highlight .gd{color:#f2777a}.highlight .ge{font-style:italic}.highlight .gh{color:#ccc;font-weight:700}.highlight .gi{color:#9c9}.highlight .gp{color:#999}.highlight .gp,.highlight .gs,.highlight .gu{font-weight:700}.highlight .gu{color:#6cc}.highlight .kc,.highlight .kd{color:#c9c}.highlight .kn{color:#6cc}.highlight .kp,.highlight .kr{color:#c9c}.highlight .kt{color:#fc6}.highlight .ld{color:#9c9}.highlight .m{color:#f99157}.highlight .s{color:#9c9}.highlight .na{color:#69c}.highlight .nb{color:#ccc}.highlight .nc{color:#fc6}.highlight .no{color:#f2777a}.highlight .nd{color:#6cc}.highlight .ni{color:#ccc}.highlight .ne{color:#f2777a}.highlight .nf{color:#69c}.highlight .nl{color:#ccc}.highlight .nn{color:#fc6}.highlight .nx{color:#69c}.highlight .py{color:#ccc}.highlight .nt{color:#6cc}.highlight .nv{color:#f2777a}.highlight .ow{color:#6cc}.highlight .w{color:#ccc}.highlight .mf,.highlight .mh,.highlight .mi,.highlight .mo{color:#f99157}.highlight .sb{color:#9c9}.highlight .sc{color:#ccc}.highlight .sd{color:#999}.highlight .s2{color:#9c9}.highlight .se{color:#f99157}.highlight .sh{color:#9c9}.highlight .si{color:#f99157}.highlight .s1,.highlight .sr,.highlight .ss,.highlight .sx{color:#9c9}.highlight .bp{color:#ccc}.highlight .vc,.highlight .vg,.highlight .vi{color:#f2777a}.highlight .il{color:#f99157}


.me{
	width: 200px;
  	@media (min-width: 38rem){
	  float: left;
	  margin-right: 30px;
    }
}


a.file{
  display: inline-block;
  text-align: center;
  width: 150px;
  padding-bottom: 20px;
  padding-top: 150px;
  margin: 10px;
  font-weight: normal;
  color: #000 !important;
  border-radius: 20px;
  background-size: 130px 130px;
  background-repeat: no-repeat;
  background-position: center 10px;
  border: 5px solid rgba(0,0,0,0);
  line-height: 20px;
}
a.file:hover{
  border: 5px solid rgba(0,100,255,0.5);
}
a.file.file-pdf{
	background-image: url({{ site.baseurl }}/img/files/pdf.png);
}
a.file.file-zip{
	background-image: url({{ site.baseurl }}/img/files/zip.png);
}
a.file.file-video{
	background-image: url({{ site.baseurl }}/img/files/video.png);
}
